<footer>
  <ul
    class="i18n"
    (click)="onI18n($event)"
  >
    <li *ngFor="let ln of supportedLanguages" [class]="'i18n-' + ln">
      <ng-template [ngIf]="!ln.includes('-')" [ngIfElse]="locale">
        <a
          tabindex="0"
          [ngClass]="{'active': ln === 'en'}"
        >
          {{Object.values(languages[ln].locales)[0].flag}} {{languages[ln].nativeName}}
        </a>
      </ng-template>
      <ng-template #locale>
        <a
          tabindex="0"
          [ngClass]="{'active': ln === 'en'}"
        >
          {{languages[ln.split('-')[0]].locales[ln].flag}} {{languages[ln.split('-')[0]].nativeName}} ({{languages[ln.split('-')[0]].locales[ln].nativeName}})
        </a>
      </ng-template>
    </li>
  </ul>
</footer>