<footer>
  <ul class="i18n" (click)="onI18n($event)">
    @for (ln of supportedLanguages; track ln) {
      <li [class]="'i18n-' + ln">
        @if (!ln.includes('-')) {
          <a tabindex="0" [ngClass]="{'active': ln === 'en'}">
            {{ Object.values(languages[ln].locales)[0].flag }} {{ languages[ln].nativeName }}
          </a>
        } @else {
          <a tabindex="0" [ngClass]="{'active': ln === 'en'}">
            {{ languages[ln.split('-')[0]].locales[ln].flag }} {{ languages[ln.split('-')[0]].nativeName }} ({{ languages[ln.split('-')[0]].locales[ln].nativeName }})
          </a>
        }
      </li>
    }
  </ul>
</footer>
