<ng-container *ngIf="displayApp || true">
  <h1>Angular Boilerplate</h1>
  <h2>v. {{ version }}</h2>
  <p>Hello world</p>
  <p>There are 2 components.</p>
  <app-example-one *ngIf="componentToShow === 'example-one'" />
  <app-example-two *ngIf="componentToShow === 'example-two'" />
  <button *ngIf="componentToShow === 'example-one'" (click)="onComponentToggle('example-two')">Switch to Example Two</button>
  <button *ngIf="componentToShow === 'example-two'" (click)="onComponentToggle('example-one')">Switch to Example One</button>
  <app-footer/>
</ng-container>