<ng-container *transloco="let t">
  <h1>{{ t('Angular Boilerplate') }}</h1>
  <h2>{{ t('v.') }} {{ version }}</h2>
  <p>{{ t('Hello world') }}</p>
  <p>{{ t('There are {{count}} components.',{count: componentList.length}) }}</p>
 {{activeComponent}}
 <ng-container *ngComponentOutlet="componentList[activeComponent].component" />
  @for (component of componentList; track $index) {
    <button (click)="onComponentActivate($index)">{{ t('Switch to {{componentName}}',{ componentName: t(component.name) }) }}</button>
  }

  <app-footer></app-footer>
</ng-container>
